<nav class="bg-indigo-600">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <h1 class="text-white text-3xl leading-tight"><a routerLink="/">Recipe Book</a></h1>
                <div class="hidden md:block">
                    <div class="ml-10 hidden space-x-8 lg:block">
                        <a
                            routerLink="/recipes"
                            class="text-sm font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75 px-3 py-2 rounded-md"
                            routerLinkActive="bg-indigo-700"
                        >
                            Recipes
                        </a>
                        <a
                            routerLink="/auth"
                            class="text-sm font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75 px-3 py-2 rounded-md"
                            routerLinkActive="bg-indigo-700"
                        >
                            Authenticate
                        </a>
                        <a
                            routerLink="/shopping-list"
                            class="text-sm font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75 px-3 py-2 rounded-md"
                            routerLinkActive="bg-indigo-700"
                        >
                            Shopping List
                        </a>
                    </div>
                </div>
            </div>

            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    <div class="relative ml-3">
                        <div>
                            <button appDropdown type="button" class="flex max-w-xs items-center rounded-full text-white hover:text-indigo-50">
                                Manage
                            </button>
                        </div>

                        <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                            <button
                              class="block px-4 py-2 text-sm cursor-pointer"
                              (click)="onSaveData()"
                            >
                                Save Data
                            </button>
                            <button
                              class="block px-4 py-2 text-sm cursor-pointer"
                              (click)="onFetchData()"
                            >
                                Fetch Data
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>