<div class="space-y-4">
    <div>
        <img [src]="recipe.imagePath" class="max-h-52" />
    </div>

    <div>
        <h1>{{ recipe.name }}</h1>
    </div>

    <div>
        <div class="relative inline-block text-left">
            <div>
                <button class="text-base px-4 py-2 text-white rounded bg-blue-500" type="button">
                    Manage Recipe
                </button>
            </div>

            <div class="absolute right-0 z-10 mt-2 w-52 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <a class="block px-4 py-2 text-sm cursor-pointer" (click)="onAddToShoppingList()">To Shopping List</a>
                <a class="block px-4 py-2 text-sm cursor-pointer" (click)="onEditRecipe()">Edit Recipe</a>
                <a class="block px-4 py-2 text-sm cursor-pointer">Delete Recipe</a>
            </div>
        </div>
    </div>

    <div>
        {{ recipe.description }}
    </div>

    <div class="mt-5 bg-white shadow sm:rounded">
        <ul class="divide-y divide-gray-200">
            <li *ngFor="let ingredient of recipe.ingredients">
                <div class="px-4 py-4 sm:px-6">
                    <h4 class="text-2xl font-bold">{{ ingredient.name }} - {{ ingredient.amount }}</h4>
                </div>
            </li>
        </ul>
    </div>
</div>