<div>
    <form class="space-y-4" (ngSubmit)="onSubmit(formShopping)" #formShopping="ngForm">
        <div class="grid grid-cols-3 gap-2 w-96">
            <div class="col-span-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="name"
                        class="block w-full pl-3 h-10 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        name="name"
                        ngModel
                        required
                    />
                </div>
            </div>
            <div class="col-span-1">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <div class="mt-1">
                    <input
                        type="number"
                        id="amount"
                        class="block w-full pl-3 h-10 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        name="amount"
                        ngModel
                        required
                        pattern="^[1-9]+[0-9]*$"
                    />
                </div>
            </div>
        </div>

        <div class="flex space-x-2">
            <button
              type="submit"
              class="rounded text-base text-white px-4 py-2 bg-green-500 disabled:opacity-50 disabled:cursor-not-allowed"
              [disabled]="!formShopping.valid"
            >
                {{ editMode ? 'Update' : 'Add' }}
            </button>
            <button
              type="button"
              class="rounded text-base text-white px-4 py-2 bg-red-500"
              (click)="onDelete()"
              *ngIf="editMode"
            >
                Delete Item
            </button>
            <button type="button" class="text-base text-white px-4 py-2 bg-blue-500" (click)="onClear()">Clear</button>
        </div>
    </form>
</div>
