<div>
    <form class="space-y-4">
        <div class="grid grid-cols-3 gap-2 w-96">
            <div class="col-span-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input
                        type="text"
                        id="name"
                        class="block w-full h-10 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        #nameInput
                    />
                </div>
            </div>
            <div class="col-span-1">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <div class="mt-1">
                    <input
                        type="number"
                        id="amount"
                        class="block w-full h-10 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        #amountInput
                    />
                </div>
            </div>
        </div>

        <div class="flex space-x-2">
            <button type="submit" class="text-base text-white px-4 py-2 bg-green-500" (click)="onAddItem()">Add</button>
            <button type="button" class="text-base text-white px-4 py-2 bg-red-500">Delete Item</button>
            <button type="button" class="text-base text-white px-4 py-2 bg-blue-500">Clear</button>
        </div>
    </form>
</div>
